@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

/* Reset and basic styles */
body {
  font-family: "Chakra Petch", sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 100vh;
}

html {
  height: 100%;
  background-color: #000000;
  scroll-behavior: smooth;
}

.Container {
  max-width: 1150px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Header */
header {
  width: 100%;
  padding: 20px 1%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 1.5s;
  z-index: 1;
  margin-top: -20px;
}

header.rolagem {
  padding: 1px 1%;
}

.menu-toggle {
  display: none;
  background-color: #007ca1;
  color: white;
  border: none;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

button,
.btn-nav {
  width: 120px;
  height: 40px;
  background-color: #fff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: none;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  text-decoration: none;
  border-radius: 1.5rem;
  transition: background-color 0.3s ease;
}

button:hover,
.btn-nav:hover {
  background-color: #007ca1;
  color: #fff;
}

.btn-contato button {
  width: 120px;
  height: 40px;
  background-color: #fff;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* Banner */
.banner {
  height: 100vh;
  background-image: url(img/Background\ IMG\ copia.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: none;
}

.banner h1 {
  font-size: 4em;
  color: #fff;
}

.banner span {
  color: #007ca1;
}

/* Main */
main {
  width: 100%;
  position: absolute;
  top: 100%;
  transition: 2s;
}

/* Search Results */
.resultados-pesquisa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
}

.resultados-pesquisa.active {
  max-width: 500px;
  margin: 20px auto;
  display: block;
  border-radius: 8px;
}

.resultados-pesquisa img {
  border-radius: 12px;
  padding: 0%;
  overflow: hidden;
  transition: all 0.5s linear;
}

.resultados-pesquisa img:hover {
  box-shadow: 0 0 8px #007ca1;
  border: solid #fff 2px;
  transform: scale(1.1);
}

.item-resultado {
  background: #fff;
  border-radius: 0.6rem;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;
  width: 80%;
  max-width: 600px;
  margin-top: 10px;
}

.item-resultado img {
  transition: transform 0.3s ease;
}

.item-resultado img:hover {
  transform: scale(1.1);
}

.item-resultado h2 {
  font-size: 1.5rem;
  color: #000;
}

.item-resultado span {
  font-size: 1.5rem;
  color: #007ca1;
}

.descricao-meta {
  color: #000000;
  text-align: center;
  margin: 0.5rem 0;
}

/* Footer */
footer {
  background-color: #007ca1;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 14px;
}

footer {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 300;
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-top: 48rem;
}

/* Mobile Styles */
@media (max-width: 430px) {

  /* Esconde "PESQUISAR" e "MODELOS" */
  #search-input,
  #search-button {
    display: none;
  }

  html,
  body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #000000;
  }

  .main {
    flex: 1;
  }

  .menu-toggle {
    display: block;
    background-color: #007ca1;
    color: #fff;
    padding: 10px 15px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 35px;
    right: 20px;
    z-index: 1000;
  }

  .menu-toggle:hover {
    background-color: #005f7c;
  }

  nav {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 999;
  }

  nav.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button,
  .btn-nav {
    width: 20%;
    height: 50px;
    font-size: 14px;
  }

  .btn-contato {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }

  .btn-contato button {
    width: 120px;
    height: 40px;
    background-color: #fff;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

  .banner h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 0 10px;
  }

  .banner img {
    width: 100%;
    height: auto;
  }

  .item-resultado {
    padding: 10px 5px 5px 10px;
    margin: 1px;
  }

  footer {
    background-color: #005f7c;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
    width: 100%;
    position: fixed;
    margin-top: 45rem;
  }

}
